<div class="side-bar-header">
  <%= link_to "仕事一覧ページに戻る", root_path ,class:"side-bar-header-a"%>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room|  %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.rooms_name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>